<% if !@access_granted then %>
  <form action="/admin" method="post">
    <input type="password" name="pwd">
    <input type="submit" value="Go">
  </form>
<% else %>
  <form action="/upload" enctype="multipart/form-data" method="post">
    <label for="file">Image to upload:</label>
    <input id="file" type="file" name="file">
    <input id="submit" type="submit" name="submit" value="Upload picture!">
  </form>
<% end %>
