<h2>Protagonists</h2>
	<h3>Steve</h3>
	 <p>Steve from Accounting works at Everest Enterprises, where he gets into various mishaps that coincidentally almost exactly relate to the syllabus of the Year 12 Software Design and Development course. He's married to Cheryl, and is Dwayne's nemesis. (The feeling is mutual.)</p>
  <h3>Cheryl</h3>
    <p>Cheryl works at the McKinness Primary School Canteen (affectionately/disparagingly called the McKanteen), where she generally has to handle the IT side of things. Cheryl is married to Steve, and is fond of the Tables triplets (Alice, Bob and Eve.)</p>
  <h3>Alice Tables</h3>
    <p>Alice is the eldest of the Tables triplets and is generally the moderating influence on the other Tables'.</p>
  <h3>Bob "Little Bobby" Tables</h3>
    <p>Bob is the second-eldest of the Tables triplets and is an aspiring <i>black</i>-hat hacker.</p>
  <h3>Eve Tables</h3>
    <p>Eve is the youngest of the Tables triplets and wants to be a spy when she grows up.</p>
<h2>Antagonists</h2>
  <h3>Dwayne</h3>
  <p>Dwayne from Marketing also works at Everest Enterprises and constantly comes up with schemes of varying legality. His constant flouting of pesky things like legal and ethical issues makes him a living pet peeve of Steve's.</p>
  <h3>Watercooler Guy</h3>
  <p>Watercooler Guy is one of the actual IT workers at Everest and yet manages to be less competent than Steve at doing his job.</p>
