 <html>
 	<head>
 		<title>Pseudo!</title>
 		<link id = "previewStylesheet" rel = "stylesheet" type = "text/css" href = "theme.css">
 	</head>
 	<body>
 		<h1>Pseudo!</h1>
 		<div id = "bar">
 			<a href = "comics.erb">Index</a>
 			<a href = "cast.erb">Cast</a>
 		</div>
 		<h2>Protagonists</h2>
 			<h3>Bob</h3>
 			<p>An irritated programmer.</p>
 	</body>
 </html>