<img data-toggle="tooltip" title="Hey, you know about this thing too!" src=<%= @image %>>
<div id="datebar">
  25th of January 2016
</div>
<div id="authorComment">
  This is a sample author comment.
</div>
