 <html>
 	<head>
 		<title>Pseudo!</title>
 		<link id = "previewStylesheet" rel = "stylesheet" type = "text/css" href = "theme.css">
 	</head>
 	<body>
 		<h1>Pseudo!</h1>
 		<div id = "bar">
 			<a href = "comics.erb">Index</a>
 			<a href = "cast.erb">Cast</a>
 		</div>
 		<img src="">
 		<div id = "datebar">
 			25th of January 2016
 		</div>
 		<div id = "authorComment">
 			This is a sample author comment.
 		</div>
 	</body>
 </html>