<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<img src=<%= @image %> data-toggle="tooltip">
<div id="bar">
  <div id="links">
    <a><< Previous Point</a>
    <a>< Previous</a>
    <a>Next ></a>
    <a>Next Point >></a>
  </div>
</div>
<div id="datebar">
  <p>25th of January 2016</p>
</div>
<div id="authorComment">
  <p>This is a sample author comment.</p>
</div>
