<html>
  <head>
    <title>Pseudo!</title>
    <link id="previewStylesheet" rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <h1>Pseudo!</h1>
    <br>
    <div id="bar">
      <div id="links">
        <a href="comics.erb">Index</a>
        <a href="cast">Cast</a>
        <a href="http://xkcd.com">Fanart</a>
        <a href="admin">Admin</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
